<a href="https://colab.research.google.com/github/hlelabir/Gomycode/blob/main/Python_error_types_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rectify the code in each cell and **explain the error in comments**

### index error

In [3]:
mylist=[14, "hello", 967]
#mylist[6]
#IndexError: in our list("mylist") we have only 3 elements so the index must be 0, 1 and 2
#6 is different from 0, 1 and 2 so it is out of range as a result we have the IndexError
# here the possibilities that we should do
print(mylist[0])
print(mylist[1])
print(mylist[2])

14
hello
967

In [4]:
#import Pandas
#import NumPy
#there is no module named Pandas it named pandas with little p the same thing with Numpy there is a numpy module with little n as a result we have this ImportError
#we correct our code with these lignes :
import pandas
import numpy

# syntax error

In [5]:
#Print"python errors"
# here we miss parentheses in call to print and print must be with a little p becarefull
#we correct that here :
print("python errors")

python errors

# key error

In [6]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
#mydictionnary['True']
# there is no key called 'True' that's why we have a key error so we must call just the keys in this dictionnary that's it which are True without '' , False and '3'
#here we correct this code
mydictionnary[True]

'hello'

# indentation error

In [7]:
i=14
#while i<78:
#print(i)
#i+=1
#in python indentation is so important and after the while loop we have a specific indendendation
#here the correct one :
while i<78:
  print(i)
  i+=1

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [8]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#next(it)
# the problem here is in this list we have only 3 element so we need only 3 iteration but he do 4 so we can  delete the last one to correct this issue

3

# TypeError

In [9]:
#'15'+15
# the problem here is we can not add a sting with an integer it's impossible we can add only integers or strings
#So we correct this one by :
print(int('15')+15)
# we can also do that :
print('15'+str(15))

30
1515

# ValueError

In [10]:
#int('python')
# the coversion from a string to an integer is possible only when the string is numeric but if it is not so it's impossible so in this problen we can't do the coversion of 'python'
print('python')

python

# NameError

In [11]:
#python
# here the programme doesn't know what is python because it is not defined
# for example i will define python with a strin that contain "hello" to make the programme work let's try
python="hello"
python

'hello'

# ZeroDivisionError

In [12]:
#x=19/0
# Mathematically speaking we can not divide by 0 it is impossible so that is why the programme can't work
# we correct this by dividing with any number except 0 we can choose 5 for example let's see if it works or not of course it will be
x=19/5
print(x)

3.8